<nav class="navbar navbar-dark bg-black mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">My app with MongoDB</a>
        <a href="/alumnos/agregar">Alumno</a>
        <a href="/asignaturas/agregar">Asignatura</a>
        <a href="/profesores/agregar">Profesor</a>
        
    </div>
    
</nav>